.ingredient-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Slike/Slika4.jpeg);
    background-size: cover;
  }

  body{
    background-image: none;
    background-color: white;
  }
  .menu{
    margin-bottom: 50px;
  }
  .menu a:hover {
    color: black; /* Boja teksta linkova prilikom prelaska mišem preko njih */
  }