body{
    background-image: url(../Slike/Slika5.jpg);
    background-color: white;
    background-size: cover;
  }
  .menu{
    margin-bottom: 50px;
  }
  .menu a:hover {
    color: black; /* Boja teksta linkova prilikom prelaska mišem preko njih */
  }