.menu {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.show-recipes-container {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.recipe-card {
  margin-bottom: 200px; /* Povećajmo razmak između kartica */
  margin-top: 2000px;
  
}

FormControl {
  width: 100%; /* Postavimo širinu search bara na 100% kontejnera */
  max-width: 100%; /* Postavimo maksimalnu širinu search bara na 100% kontejnera */
  margin-bottom: 120px; /* Povećajmo razmak ispod search bara */

}