 body {
    /* Ostali stilovi za body */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url(./Slike/Slika2.jpg);
    background-size: cover;
    -moz-osx-font-smoothing: grayscale;
  } 
  .home-background {
    background-image: url(./Slike/Slika2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
  .content {
    flex: 1; /* Omogućava da sadržaj popuni raspoloživi prostor */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .menu {
    display: flex;
    justify-content: center; /* Centriranje menija na horizontali */
    background-color: transparent; /* Boja pozadine menija - ista kao pozadina sajta */
    border-radius: 25px; /* Dodajemo zakrivljene ivice menija */
    width: 50%; /* Postavljamo širinu menija na 50% ekrana */
    margin: 0 auto; /* Centriramo meni na horizontali */
    padding: 10px 0; /* Rastojanje između linkova i linije ispod menija */
    border: 2px solid orangered; /* Ivica menija u beloj boji */
    position: relative;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .menu li {
    margin: 10px 0; /* Rastojanje između linkova u meniju */
  }
  
  .menu a {
    text-decoration: none;
    font-family: 'Pacifico', cursive; /* Dodajte font Pacifico */
    color: yellow; /* Boja teksta linkova */
    font-size: 25px;
  }
  
  .menu a:hover {
    color: white; /* Boja teksta linkova prilikom prelaska mišem preko njih */
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 20%; /* Rastojanje od dna sajta */
  }
  
  .title {
    font-family: 'Pacifico', cursive; /* Dodajte font Pacifico */
    font-size: 70px;
    font-weight: bold;
    color: orangered;
    position: absolute;
    top: 250px;
    left: 23%;
    transform: translateX(-50%);
  }
  .menu-button {
    border-radius: 25px;
    font-family: 'Pacifico', cursive; /* Dodajte font Pacifico */
    background-color: transparent;
    color: orangered;
    padding: 10px 20px;
    font-size: 30px;
    border: 2px solid orangered;
    cursor: pointer;
    position: absolute;
    left: 10%; /* Pomeranje dugmeta u levo */
    top: 70%; /* Pomeranje dugmeta prema vrhu */
  }

  .menu-item {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: bold;
    color: lightsalmon;
    display: flex;
    align-items: center;   
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .menu-button:hover{
    background-color: white;
    transition: 0.5s ease;
  }
  .text {
    /* Ostali stilovi za text... */
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    position: absolute;
    left: 25%;
    bottom: 30%;
    transform: translateX(-50%);
  }
  .textLogin {
    
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: bold;
    color: lightsalmon;
    position: absolute;   
    bottom: 45%;
    
  }
  .textMenu {    
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: bold;
    color: lightsalmon;
    position: absolute;    
  }
  .menu-icon {
    font-size: 40px !important;
    color: orangered;
  }

  