.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Postavite justify-content na flex-start */
  align-items: center;
  background-image: url(./Slike/Slika1.jpg);
  background-size: cover;
}

.menu {
  margin-top: 0; /* Postavite margin-top na 0 da bude pri vrhu stranice */
  /* Ostali stilovi za komponentu Menu... */
  position: relative;
  display: flex;
}

.custom-textfield {
  width: 300px;
  height: 60px;
  background-color: white; /* Bela boja pozadine samo za TextField */
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  color: white; /* Bela boja slova u labelama */
}

h1 {
  font-size: 60px;
  color: orangered;
  margin-top: 100px;
}

.white-helper-text {
  color: orangered;
  font-size: 19px;
  font-weight: bold;
}





