.menu {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid orangered;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: orangered;
  font-size: 25px;
}

.menu a:hover {
  color: black;
}

.menu-icon {
  font-size: 40px !important;
  color: orangered;
}